@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes rgb-border {
  0% {
    border-color: red;
  }
  25% {
    border-color: yellow;
  }
  50% {
    border-color: green;
  }
  75% {
    border-color: cyan;
  }
  100% {
    border-color: magenta;
  }
}

.border-rgb-animation {
  animation: rgb-border 1.5s infinite;
}

.card {
  position: relative;
  height: 18rem; 
}

.card::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 4px solid transparent;
  border-radius: 0.5rem;
  z-index: -1;
  background: linear-gradient(white, white);
  background-clip: padding-box;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.card:hover::before {
  opacity: 1;
  border-color: rgb(0, 255, 255);
}
